@{
    ViewBag.Title = "Home Page";
}

<!--================Slider Area =================-->
<section class="main_slider_area">
    <div id="fullwidth_slider" class="rev_slider" data-version="5.3.1.6">
        <ul>
            <li data-index="rs-1587" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="img/home-slider/slider-1.jpg" data-rotate="0" data-saveperformance="off" data-title="Creative" data-param1="01" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                <!-- MAIN IMAGE -->
                <img src="~/Content/img/home-slider/full-width-1.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg" data-no-retina>
                <!-- LAYER NR. 1 -->
                <div class="slider_text_box">
                    <div class="tp-caption tp-resizeme first_text"
                         data-x="['left','left','left','left','center','center']"
                         data-hoffset="['0','0','0','0']"
                         data-y="['top','top','top','top']"
                         data-voffset="['250','250','250','250','160','160']"
                         data-fontsize="['48','48','48','48','36','28']"
                         data-lineheight="['64','64','64','64','46','38']"
                         data-width="['none','none','none','none','none']"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-type="text"
                         data-responsive_offset="on"
                         data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                         data-textAlign="['left','left','left','left','center','center']">WOMEN'S DESIGNER</div>
                    <div class="tp-caption tp-resizeme secand_text"
                         data-x="['left','left','left','left','center','center']"
                         data-hoffset="['0','00','00','0']"
                         data-y="['top','top','top','top']" data-voffset="['320','320','320','320','220','200']"
                         data-fontsize="['100','100','100','100','60','50']"
                         data-lineheight="['120','120','120','120','60','60']"
                         data-width="['none','none','none','none','none']"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-type="text"
                         data-responsive_offset="on"
                         data-transform_idle="o:1;"
                         data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                         data-textAlign="['left','left','left','left','center','center']">
                        Sunglass
                    </div>
                    <div class="tp-caption tp-resizeme third_text"
                         data-x="['left','left','left','left','center','center']"
                         data-hoffset="['0','0','0','0']"
                         data-y="['top','top','top','top']" data-voffset="['450','450','450','450','300','270']"
                         data-fontsize="['13','13','13','13','13']"
                         data-lineheight="['28','28','26','26']"
                         data-width="['475','475','475','475','475','320']"
                         data-height="none"
                         data-whitespace="normal"
                         data-type="text"
                         data-responsive_offset="on"
                         data-transform_idle="o:1;"
                         data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                         data-textAlign="['left','left','left','left','center','center']">
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    </div>
                    <div class="tp-caption tp-resizeme four_btn"
                         data-x="['left','left','left','left','center','center']"
                         data-hoffset="['0','0','0','0']"
                         data-y="['top','top','top','top']" data-voffset="['575','575','575','575','400','400']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-type="text"
                         data-responsive_offset="on"
                         data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                         data-textAlign="['left','left','left','left','left','center']">
                        <a class="checkout_btn" href="#">read more</a>
                    </div>
                </div>
            </li>
            <li data-index="rs-1588" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="img/home-slider/slider-2.jpg" data-rotate="0" data-saveperformance="off" data-title="Creative" data-param1="01" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                <!-- MAIN IMAGE -->
                <img src="~/Content/img/home-slider/full-width-1.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->
                <!-- LAYERS -->
                <!-- LAYER NR. 1 -->
                <div class="slider_text_box">
                    <div class="tp-caption tp-resizeme first_text"
                         data-x="['left','left','left','left','center','center']"
                         data-hoffset="['0','0','0','0']"
                         data-y="['top','top','top','top']"
                         data-voffset="['250','250','250','250','160','160']"
                         data-fontsize="['48','48','48','48','36','28']"
                         data-lineheight="['64','64','64','64','46','38']"
                         data-width="['none','none','none','none','none']"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-type="text"
                         data-responsive_offset="on"
                         data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                         data-textAlign="['left','left','left','left','center','center']">WOMEN'S DESIGNER</div>
                    <div class="tp-caption tp-resizeme secand_text"
                         data-x="['left','left','left','left','center','center']"
                         data-hoffset="['0','00','00','0']"
                         data-y="['top','top','top','top']" data-voffset="['320','320','320','320','220','200']"
                         data-fontsize="['100','100','100','100','60','50']"
                         data-lineheight="['120','120','120','120','60','60']"
                         data-width="['none','none','none','none','none']"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-type="text"
                         data-responsive_offset="on"
                         data-transform_idle="o:1;"
                         data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                         data-textAlign="['left','left','left','left','center','center']">
                        Sunglass
                    </div>
                    <div class="tp-caption tp-resizeme third_text"
                         data-x="['left','left','left','left','center','center']"
                         data-hoffset="['0','0','0','0']"
                         data-y="['top','top','top','top']" data-voffset="['450','450','450','450','300','270']"
                         data-fontsize="['13','13','13','13','13']"
                         data-lineheight="['28','28','26','26']"
                         data-width="['475','475','475','475','475','320']"
                         data-height="none"
                         data-whitespace="normal"
                         data-type="text"
                         data-responsive_offset="on"
                         data-transform_idle="o:1;"
                         data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                         data-textAlign="['left','left','left','left','center','center']">
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    </div>
                    <div class="tp-caption tp-resizeme four_btn"
                         data-x="['left','left','left','left','center','center']"
                         data-hoffset="['0','0','0','0']"
                         data-y="['top','top','top','top']" data-voffset="['575','575','575','575','400','400']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-type="text"
                         data-responsive_offset="on"
                         data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                         data-textAlign="['left','left','left','left','left','center']">
                        <a class="checkout_btn" href="#">read more</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
<!--================End Slider Area =================-->

<!--================Full Width Feature Area =================-->
<section class="fullwidth_feature_area">
    <div class="full_feature_item">
        <div class="left_full_feature">
            <div class="full_feature_img">
                <img src="~/Content/img/fullwidth-item/fullwidth-item-1.jpg" alt="">
            </div>
        </div>
        <div class="right_full_feature">
            <div class="full_feature_text">
                <h4>Women Designer Sunglass</h4>
                <h5>$45.05</h5>
                <div class="sunglass_slider owl-carousel">
                    <div class="item">
                        <img src="~/Content/img/product/sunglass-1.jpg" alt="">
                    </div>
                    <div class="item">
                        <img src="~/Content/img/product/sunglass-1.jpg" alt="">
                    </div>
                    <div class="item">
                        <img src="~/Content/img/product/sunglass-1.jpg" alt="">
                    </div>
                </div>
                <a class="add_cart_btn" href="#">Shop Now</a>
            </div>
        </div>
    </div>
    <div class="full_feature_item dir_right">
        <div class="right_full_feature">
            <div class="full_feature_text">
                <div class="full_feature_text_inner">
                    <h4>Women Designer Sunglass</h4>
                    <h5>$45.05</h5>
                    <div class="sunglass_slider owl-carousel">
                        <div class="item">
                            <img src="~/Content/img/product/sunglass-2.jpg" alt="">
                        </div>
                        <div class="item">
                            <img src="~/Content/img/product/sunglass-2.jpg" alt="">
                        </div>
                        <div class="item">
                            <img src="~/Content/img/product/sunglass-2.jpg" alt="">
                        </div>
                    </div>
                    <a class="add_cart_btn" href="#">Shop Now</a>
                </div>
            </div>
        </div>
        <div class="left_full_feature">
            <div class="full_feature_img">
                <img src="~/Content/img/fullwidth-item/fullwidth-item-2.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="full_feature_item">
        <div class="left_full_feature">
            <div class="full_feature_img">
                <img src="~/Content/img/fullwidth-item/fullwidth-item-3.jpg" alt="">
            </div>
        </div>
        <div class="right_full_feature">
            <div class="full_feature_text">
                <h4>Women Designer Sunglass</h4>
                <h5>$45.05</h5>
                <div class="sunglass_slider owl-carousel">
                    <div class="item">
                        <img src="~/Content/img/product/sunglass-3.jpg" alt="">
                    </div>
                    <div class="item">
                        <img src="~/Content/img/product/sunglass-3.jpg" alt="">
                    </div>
                    <div class="item">
                        <img src="~/Content/img/product/sunglass-3.jpg" alt="">
                    </div>
                </div>
                <a class="add_cart_btn" href="#">Shop Now</a>
            </div>
        </div>
    </div>
</section>
<!--================End Full Width Feature Area =================-->

<!--================Isotope Slider Area =================-->
<section class="fillter_product_slider_area">
    <div class="container">
        <div class="fillter_product_inner">
            <ul class="portfolio_filter">
                <li class="active" data-filter="*"><a href="#">men's</a></li>
                <li data-filter=".men"><a href="#">MEN</a></li>
                <li data-filter=".woman"><a href="#">Woman</a></li>
                <li data-filter=".kids"><a href="#">KIDS</a></li>
                <li data-filter=".bags"><a href="#">GOGGLES</a></li>
                <li data-filter=".brands"><a href="#">BRANDS</a></li>
            </ul>
            <div class="fillter_product_slider owl-carousel">
                <div class="item men woman bags brands">
                    <div class="fillter_product">
                        <div class="l_product_item">
                            <div class="l_p_img">
                                <img src="~/Content/img/product/fillter-product/f-product-4.jpg" alt="">
                            </div>
                            <div class="l_p_text">
                                <ul>
                                    <li class="p_icon"><a href="#"><i class="icon_piechart"></i></a></li>
                                    <li><a class="add_cart_btn" href="#">Add To Cart</a></li>
                                    <li class="p_icon"><a href="#"><i class="icon_heart_alt"></i></a></li>
                                </ul>
                                <h4>Quay Invader Sunglasses</h4>
                                <h5>$85.50</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item men woman kids brands">
                    <div class="fillter_product">
                        <div class="l_product_item">
                            <div class="l_p_img">
                                <img src="~/Content/img/product/fillter-product/f-product-5.jpg" alt="">
                                <h5 class="new">New</h5>
                            </div>
                            <div class="l_p_text">
                                <ul>
                                    <li class="p_icon"><a href="#"><i class="icon_piechart"></i></a></li>
                                    <li><a class="add_cart_btn" href="#">Add To Cart</a></li>
                                    <li class="p_icon"><a href="#"><i class="icon_heart_alt"></i></a></li>
                                </ul>
                                <h4>Black Retro Dapper Cross Bar</h4>
                                <h5>$110</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item woman bags brands">
                    <div class="fillter_product">
                        <div class="l_product_item">
                            <div class="l_p_img">
                                <img src="~/Content/img/product/fillter-product/f-product-6.jpg" alt="">
                            </div>
                            <div class="l_p_text">
                                <ul>
                                    <li class="p_icon"><a href="#"><i class="icon_piechart"></i></a></li>
                                    <li><a class="add_cart_btn" href="#">Add To Cart</a></li>
                                    <li class="p_icon"><a href="#"><i class="icon_heart_alt"></i></a></li>
                                </ul>
                                <h4>Raen Figurative Sunglasses</h4>
                                <h5>$250.00</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item men woman kids brands">
                    <div class="fillter_product">
                        <div class="l_product_item">
                            <div class="l_p_img">
                                <img src="~/Content/img/product/fillter-product/f-product-7.jpg" alt="">
                                <h5 class="sale">Sale</h5>
                            </div>
                            <div class="l_p_text">
                                <ul>
                                    <li class="p_icon"><a href="#"><i class="icon_piechart"></i></a></li>
                                    <li><a class="add_cart_btn" href="#">Add To Cart</a></li>
                                    <li class="p_icon"><a href="#"><i class="icon_heart_alt"></i></a></li>
                                </ul>
                                <h4>Ricky Shirt</h4>
                                <h5>$45.05</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Isotope Slider Area =================-->
